{{ define "likes" }}
<i class="fa-solid fa-heart"> </i>
<span> {{ .Likes }}  </span>
{{ end }}


{{ define "edit" }}
<a href="/edit" style="text-decoration: none;">
    <i class="fa-solid fa-pen-nib"></i>
</a>
{{ end }}


{{define "delete" }}
<a href="/delete" style="text-decoration: none;">
    <i class="fa-solid fa-trash-can"></i>
</a>
{{ end }}


{{ define "header-publication" }}
    <h1 class="display-4">{{ .Title }}</h1>
    <p class="lead">{{ .Content }}</p>
    <a href="#">{{ .AuthorNick }} - {{ .CreatedAt.Format "2006/01/02 3:4" }}</a>
    <!-- 
    explicando a formatação do campo data utilizando go
    Jan 2 15:04:05 2006
    1  2  3  4  5  6 
    -->
    <hr class="my-4">
{{ end }}


{{ define "publication-with-permission" }}
    <div class="jumbotron" date-publication-id="{{ .Id }}">
        {{ template "header-publication" . }}
        <p>
            {{ template "likes" . }} {{ template "edit" . }} {{ template "delete" . }}
        </p>
    </div>
{{ end }}


{{ define "publication-without-permission" }}
    <div class="jumbotron" date-publication-id="{{ .Id }}">
        {{ template "header-publication" . }}
        <p>
            {{ template "likes" . }}
        </p>
    </div>
{{ end }}